$colorTextPrimary: #000000;
$colorTextSecondary: white;
$backgroundPrimary: #173660;
$backgroundSecondary: #f09f38;
$backgroundColorTertiary: #FDF795;
$menuBackground: #212121;
$colorTitles: #2f303a;
$colorTextActive: #2196f3;

$textFontPrimary: "Montserrat", sans-serif;
$textFontSecondary: "Merriweather", serif;
$titles: "Bungee", sans-serif;
